* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

:root {
  --black: #333;
  --white: #fff;
}

.dark {
  --white: #333;
  --black: #fff;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 100px;
  z-index: 10000;
  background: var(--white);
}

header .logo {
  position: relative;
  display: inline-flex;
  color: green;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.rightSide {
  display: flex;
}

.btns {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.btns ion-icon {
  font-size: 1.5em;
  color: var(--black);
}

.btns.menuToggle ion-icon {
  font-size: 3em;
}

.btns ion-icon:nth-child(2) {
  display: none;
}

.btns.active ion-icon:nth-child(2) {
  display: block;
}

.btns.active ion-icon:nth-child(1) {
  display: none;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
  mix-blend-mode: lighten;
}

.dark .mask {
  filter: invert(1);
  mix-blend-mode: multiply;
}

.navigation {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  flex-direction: column;
  z-index: 4;
  transition: 0.5s;
}

.navigation.active {
  left: 0;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.25em;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 5px;
}

.navigation li a:hover {
  background: var(--black);
  color: var(--white);
}

#donation,
#schedule,
#songs-lyrics,
#shepherd {
  padding-top: 70px;
  background: var(--white);
  color: var(--black);
  height: 100vh;
}

#songs-lyrics {
  padding-top: 80px;
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  padding-bottom: 30px;
}

.card {
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 250px;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 3.5s;
  box-shadow: inset 300px 0 50px black;
}

.card:hover {
  box-shadow: inset 10px 0 50px rgba(0, 0, 0, 0.7);
}

.card .boxCardImg {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(105, 105, 105);
  transform-origin: left;
  z-index: 1;
  transition: 4s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.card:hover .boxCardImg {
  transform: rotateY(-135deg);
}

.card .boxCardImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.card .details h3 {
  margin-bottom: 10px;
  color: #aa0000;
}

.card .details p {
  margin-bottom: 20px;
}

.card .details a {
  background-color: #aa0000;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 5px;
}

#schedule {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#schedule h2 {
  margin-bottom: 10px;
}

#schedule div {
  margin-bottom: 10px;
  border: 1px solid var(--black);
  width: 90%;
}

#shepherd {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 20px;
}

#shepherd span {
  font-size: 0.6em;
  margin: 10px 0 70px 90px;
}

#shepherd img {
  margin: 30px 0 5px 0;
  width: 150px;
  height: 190px;
  border-radius: 100%;
}

#donation {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.red {
  color: #aa0000;
  font-weight: 700;
}

#donation h2 {
  margin: 40px 0 10px 0;
}

#donation p {
  margin-bottom: 30px;
  font-size: 1em;
}

#donation div {
  margin-bottom: 10px;
  text-align: center;
}

#donation ion-icon {
  font-size: 40px;
}

.copy {
  position: absolute;
  left: 100px;
  bottom: 10px;
  z-index: 4;
  font-weight: 500;
  font-size: 0.8em;
  color: var(--black);
}

@media only screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
}
